* {
  padding: 0;
  margin: 0;
}
body {
  font-family: sans-serif;
}

.wrapper {
  position: relative;
}
.dropdown {
  position: relative;
}
.dropdown-menu {
  pointer-events: none;
  border-radius: 10px;
  border: 1px solid rgb(236, 236, 236);
  background: #fff;
  width: 250px;
  position: absolute;
  top: 54px;
  right: -84px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
  overflow: hidden;
}
.dropdown.active2002 > .link + .dropdown-menu {
  pointer-events: auto;
  transform: translateY(0);
  opacity: 1;
}
.dropdown-header button {
  width: 100% !important;
  border-radius: 0 !important;
  padding-left: 14px;
  font-size: 15px;
  border: none !important;
  color: black !important;
}

.dropdown-menu a {
  text-decoration: none;
  color: black;
  font-size: 17px;
}
.dropdown-header button:hover,
.dropdown-menu a:hover {
  color: rgb(255, 0, 0) !important;
}
.dropdown-header {
  width: 100%;
  height: 40%;
  text-align: center;
  padding: 0px 0px 10px 0px;
  border-bottom: 1px solid rgb(236, 236, 236);
}
.logo {
  display: flex;
  padding: 0px 0px 0px 64px;
  align-items: center;
}
.dropdown-header a {
  display: flex;
  flex-direction: column;
  justify-items: center;
  margin: 18px 0px -11px 0px;
}
.dropdown-footer {
  width: 100%;
  height: 60%;
  display: flex;
  padding: 15px 0px 0px 0px;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}
header {
  display: flex;
  width: 100%;
  background-color: rgb(255, 255, 255);
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgb(236, 236, 236);
  position: fixed;
  transition: all 0.5 ease-in-out;
  top: 0;
}
footer {
  text-align: center;
  bottom: 0;
  background-color: rgb(255, 255, 255);
  width: 100%;
  position: fixed;
  border: 1px solid rgb(203, 196, 196);
}
.dropdown i {
  transform: scale(1.3, 1.3);
  border: none;
}
.dropdown em {
  transform: scale(2.4, 2.4);
}
.dropdown button {
  border: none;
  width: 90px;
  height: 45px;
  background-color: #ffff;
  border-radius: 25px;
  border: 1px solid gray;
  cursor: pointer;
}
.login-gh {
  display: flex;
  justify-content: space-around;
  margin: 0px 94px 0px 0px;
}
.login-gh .cart:hover > button {
  box-shadow: 0px 2px 5px gray;
}
.login-gh .dropdown:hover > button {
  box-shadow: 0px 2px 5px gray;
}
#footer {
  height: 100px;
}
footer button {
  background: white;
  cursor: pointer;
  border: none;
}
.header-left {
  display: flex;
  padding: 0px 110px 0px 0px;
}
.mail {
  width: 100%;
  height: 100%;
  margin: 0px 50px 0px 0px;
}
.mail button {
  width: 32.01px;
  height: 45.01px;
  cursor: pointer;
  border: none;
  background: white;
}
.mail i {
  transform: scale(2, 2);
}
#xuong {
  display: none;
}
.content {
  width: 100%;
  height: 100%;
  padding-top: 76px;
  display: flex;
}
.bars {
  width: 253px;
  height: 700px;
  border-right: 0.1px solid gray;
  position: fixed;
  background: #4a4a4a;
}
.content-right {
  position: absolute;
  width: 83.5%;
  height: 700px;
  right: 0;
}
.logo button {
  background: white;
  border: none;
  width: 27px;
  height: 27px;
  cursor: pointer;
  margin: 0px 40px 0px 93px;
}
.logo i {
  transform: scale(2, 2);
}
.bars h2 {
  text-align: center;
  padding: 15px 0px 0px 0px;
  color: wheat;
}

.bars a {
  color: wheat;
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  padding: 0px 0px 0px 15px;
}
.bars h3 {
  color: wheat;
  padding: 25px 0px 20px 10px;
}
.bars p {
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  margin: 0px 0px 10px 0px;
  padding: 0px 0px 0px 10px;
  height: 30px;
  color: white;
}
.bars i {
  transform: scale(1.2, 1.2);
}
.bars p:hover {
  color: #ff385c;
}
.bars a:hover {
  color: #ff385c;
}
.sub-menuu li {
  margin: 0px 0px 20px 0px;
  padding: 0px 0px 0px 20px;
}
/* #sub-menu {
  display: none;
}
#sub-menu1 {
  display: none;
} */
.mail-content {
  position: fixed;
  border-radius: 10px;
  height: 300px;
  border: 1px solid rgb(236, 236, 236);
  background: #fff;
  width: 300px;
  top: 64px;
  right: 164px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  display: none;
}
.mail-hd {
  width: 100%;
  height: 30px;
  background: #42a6f8;
  text-align: center;
  color: white;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.mail-hd h3 {
  padding: 5px 0px 0px 0px;
}
.mail-ft {
  width: 100%;
  height: 30px;
  background: rgb(208, 208, 208);
  bottom: 0;
  position: absolute;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align: center;
}
.mail-content a {
  text-decoration: none;
  color: black;
}
#content li {
  width: 100%;
  height: 60px;
  border-bottom: 0.1px solid rgb(220, 220, 220);
  list-style: none;
}
/* .card-user img {
  width: 40px;
  height: 40px;
  border-radius: 20px;
} */
.card-user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 100rem;
  flex-shrink: 0;
  object-fit: cover;
}
.card-user-online {
  color: gray;
  font-weight: 300;
  font-size: 13px;
}
.card-user {
  display: flex;
  align-items: center;
  padding-left: 5px;
}
.card-user-info {
  padding-left: 20px;
}
.card-user-top {
  overflow: hidden;
  height: 37px;
  width: 235px;
}
.tt {
  margin-top: 20px;
}

/* aaaa */
.chat {
  margin-top: auto;
  margin-bottom: auto;
  /* margin: 0px 0px 0px 600px; */
}
.card {
  height: 600px;
  border-radius: 15px !important;
  background-color: rgba(0, 0, 0, 0.4) !important;
}
.contacts_body {
  padding: 0.75rem 0 !important;
  overflow-y: auto;
  white-space: nowrap;
}
.msg_card_body {
  overflow-y: auto;
}
.card-header {
  border-radius: 15px 15px 0 0 !important;
  border-bottom: 0 !important;
}
.card-footer {
  border-radius: 0 0 15px 15px !important;
  border-top: 0 !important;
}
.container {
  align-content: center;
}
.search {
  border-radius: 15px 0 0 15px !important;
  background-color: rgba(0, 0, 0, 0.3) !important;
  border: 0 !important;
  color: white !important;
}
.search:focus {
  box-shadow: none !important;
  outline: 0px !important;
}
.type_msg {
  background-color: rgba(0, 0, 0, 0.3) !important;
  border: 0 !important;
  color: white !important;
  height: 60px !important;
  overflow-y: auto;
}
.type_msg:focus {
  box-shadow: none !important;
  outline: 0px !important;
}
.attach_btn {
  border-radius: 15px 0 0 15px !important;
  background-color: rgba(0, 0, 0, 0.3) !important;
  border: 0 !important;
  color: white !important;
  cursor: pointer;
}
.send_btn {
  border-radius: 0 15px 15px 0 !important;
  background-color: rgba(0, 0, 0, 0.3) !important;
  border: 0 !important;
  color: white !important;
  cursor: pointer;
}
.search_btn {
  border-radius: 0 15px 15px 0 !important;
  background-color: rgba(0, 0, 0, 0.3) !important;
  border: 0 !important;
  color: white !important;
  cursor: pointer;
}
.contacts {
  list-style: none;
  padding: 0;
}
.contacts li {
  width: 100% !important;
  padding: 5px 10px;
  margin-bottom: 15px !important;
}
.active {
  background-color: rgba(0, 0, 0, 0.3);
}
.user_img {
  height: 70px;
  width: 70px;
  border: 1.5px solid #f5f6fa;
}
.user_img_msg {
  height: 40px;
  width: 40px;
  border: 1.5px solid #f5f6fa;
}
.img_cont {
  position: relative;
  height: 70px;
  width: 70px;
}
.img_cont_msg {
  height: 40px;
  width: 40px;
}
.online_icon {
  position: absolute;
  height: 15px;
  width: 15px;
  background-color: #4cd137;
  border-radius: 50%;
  bottom: 0.2em;
  right: 0.4em;
  border: 1.5px solid white;
}
.offline {
  background-color: #c23616 !important;
}
.user_info {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 15px;
}
.user_info span {
  font-size: 20px;
  color: white;
}
.user_info p {
  font-size: 10px;
  color: rgba(255, 255, 255, 0.6);
}
.video_cam {
  margin-left: 50px;
  margin-top: 5px;
}
.video_cam span {
  color: white;
  font-size: 20px;
  cursor: pointer;
  margin-right: 20px;
}
.msg_cotainer {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
  border-radius: 25px;
  background-color: #82ccdd;
  padding: 10px;
  position: relative;
}
.msg_cotainer_send {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 10px;
  border-radius: 25px;
  background-color: #78e08f;
  padding: 10px;
  position: relative;
}
.msg_time {
  position: absolute;
  left: 0;
  bottom: -15px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 10px;
}
.msg_time_send {
  position: absolute;
  right: 0;
  bottom: -15px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 10px;
}
.msg_head {
  position: relative;
}
#action_menu_btn {
  position: absolute;
  right: 10px;
  top: 10px;
  color: white;
  cursor: pointer;
  font-size: 20px;
}
.action_menu {
  z-index: 1;
  position: absolute;
  padding: 15px 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 15px;
  top: 30px;
  right: 15px;
  display: none;
}
.action_menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.action_menu ul li {
  width: 100%;
  padding: 10px 15px;
  margin-bottom: 5px;
}
.action_menu ul li i {
  padding-right: 10px;
}
.action_menu ul li:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.2);
}
@media (max-width: 576px) {
  .contacts_card {
    margin-bottom: 15px !important;
  }
}
